// import the CSS framework
@import "bootstrap";

// make all images responsive by default
img {
  @extend .img-responsive;
  margin: 0 auto;
  }
// override for the 'Home' navigation link
.navbar-brand {
  font-size: inherit;
  }

// THESE ARE EXAMPLES YOU CAN MODIFY
// create your own classes
// to make views framework-neutral
.column {
  @extend .col-md-6;
  @extend .text-center;
  }
.form {
  @extend .col-md-6;
  }
.form-centered {
  @extend .col-md-6;
  @extend .text-center;
  }
.submit {
  @extend .btn;
  @extend .btn-primary;
  @extend .btn-lg;
  }
// apply styles to HTML elements
// to make views framework-neutral
main {
  @extend .container;
  background-color: #eee;
  padding-bottom: 80px;
  width: 100%;
  margin-top: 51px; // accommodate the navbar
  }
section {
  @extend .row;
  margin-top: 20px;
  }
.error{
    background-color: rgb(255, 61, 0);
    color: #FFFFFF;
    line-height: 1;
    text-align: center;
    }
    
    /*********************************************************************************/
/* Nav                                                                           */
/*********************************************************************************/

	#nav
	{
	}

		#nav > ul
		{
			margin: 0;
		}

		#nav > ul > li > ul
		{
			display: none;
		}

		#nav > ul > li
		{
			display: inline-block;
			font-style: italic;
			margin: 0 0.35em 0 0.35em;
		}
		
			#nav > ul > li > a
			{
				border-radius: 5px;
				color: #5d5d5d;
				text-decoration: none;
				padding: 0.6em 1.2em 0.6em 1.2em;
				-moz-transition: background-color .25s ease-in-out;
				-webkit-transition: background-color .25s ease-in-out;
				-o-transition: background-color .25s ease-in-out;
				-ms-transition: background-color .25s ease-in-out;
				transition: background-color .25s ease-in-out;
				outline: 0;
			}

		#nav > ul > li:hover
		{
		}
		
			#nav > ul > li:hover > a
			{
				background: #f3f3f3;
			}
			
		#nav > ul > li.active
		{
		}
		
			#nav > ul > li.active > a
			{
				background: #f3f3f3;
			}
			
		#nav > ul > li.current_page_item
		{
		}
		
			#nav > ul > li.current_page_item > a
			{
				background: #d52349;
				color: #fff !important;
				font-weight: 700;
			}
			
	.dropotron
	{
		border-radius: 5px;
		background-color: #252122;
		background-color: rgba(34,30,31,0.98);
		padding: 1.25em 1.5em 1.25em 1.5em;
		font-style: italic;
		min-width: 13em;
		box-shadow: 0px 8px 15px 0px rgba(0,0,0,0.5);
		text-align: left;
	}
	
		.dropotron a,
		.dropotron span
		{
			color: #aaa;
			text-decoration: none;
			-moz-transition: color .25s ease-in-out;
			-webkit-transition: color .25s ease-in-out;
			-o-transition: color .25s ease-in-out;
			-ms-transition: color .25s ease-in-out;
			transition: color .25s ease-in-out;
		}
		
		.dropotron li
		{
			padding: 0.25em 0 0.25em 0;
		}

			.dropotron li:hover > a,
			.dropotron li:hover >span
			{
				color: #fff;
			}

		.dropotron.level-0
		{
			margin-top: 2em;
			margin-left: -0.51em;
		}
		
			.dropotron.level-0:before
			{
				content: '';
				display: block;
				position: absolute;
				left: 20px;
				top: -10px;
				border-left: solid 10px transparent;
				border-right: solid 10px transparent;
				border-bottom: solid 10px #252122;
				border-bottom-color: rgba(34,30,31,0.98);
			}
   